.wrapper{
  background-color: rgb(206, 221, 238);
  border: none;
  width: 600px;
  padding: 20px;
  margin: auto;
  margin-top: 200px;
  text-align: center;
}
h3{
  color: rgb(34, 34, 77);
}
#input {
  width: 25rem;
  padding: 10px 50px;
 font-size: 20px;
}
.alert {
  color: brown;
}